@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    font-family: 'Open Sans';
    background: #A7226E;
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4px;
    color: #F26B38;
}